{#
/**
 * @file
 * Theme override for the search form block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 */
#}

  {% block content %}
<div class="search">
        <svg id="search-glass" class="search-icon action" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
            <circle class="circle path" cx="10.981" cy="10.982" r="9.786"></circle>
            <line class="line path" x1="23.804" y1="23.804" x2="17.902" y2="17.901"></line>
        </svg>
        <svg id="search-clear" class="search-clear action" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
            <line class="line1 path" x1="1" y1="1" x2="24" y2="24"></line>
            <line class="line2 path" x1="24" y1="1" x2="1" y2="24"></line>
        </svg>
    {{ content }}
</div>
  {% endblock %}
